* {
    box-sizing: border-box;
}
.header {
    background: url(../img/imgPrincipal.png);
    background-attachment: fixed;
    
   
    display: grid;
   
}

/* BOOSTRAP DESREBOOT*/

body {
    display: block;
    margin: 8px;
}
figure {
    margin: revert
    
}
.contain {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-image: url(../img/imgPrincipal.png);
    background-attachment: fixed;
    
    display: grid;
    
   

}

navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    
    top: 0;
    height: 150px;
    align-items: center;
    width: 100%;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    
    top: 0;
    height: 150px;
    align-items: center;
    width: 100%;
    position: relative;
    

}

.logo{
   
    padding: 0;
    align-items: center;
    transition: transform 1s;
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: cursive;
}

.logo:hover {
    transform: scale(1.1);
 
}

.menu {

    display: flex;
    font-size: 15px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin: 50px;
    text-decoration: none;
    list-style: none;

    
    
}

.menu .menu__items{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 0 20px;
    height: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform:translate();

}

    .menu .menu__items:hover{
        color: darkgrey;

    }

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(117, 35, 35);
    padding: 10px;
    height: 700px;
    font-size: 30px;
    justify-content:space-evenly;
    
}

.central__item {
    padding: 50px;
    align-items: flex-start;
    
}
.central:hover{
    color: darkgrey;
}
.articulos {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 30px;
    background-color: gainsboro;
}

.back-navbar {
    background: rgba(245, 5, 5, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}
.back-article {
    background-color: gainsboro;
}

.back-center {
    background-color: rgb(151, 134, 135, 0.445);
}

.back-footer {
    background-color: black;
    display: flex;
    justify-content: space-between
    aling-items:center    
}
.articulo__img {
    width: 100%: 
    padding: 10px
    
}

* / LLEVALO / *
.comentary {
   display: flex;
   align-items: center;
   background-color: gainsboro;
   letter-spacing: 2px;

}
.delivery {
    display: flex;
    gap: 5px;
}

* MENU *

.menuprincipal {
    display: flex;
    justify-content: center;
    font-size: 30px;
}


* CONTACTANOS *

.contact {
   background-color: brown;
   color: blue;
}
.articulos__item {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        align-items: center;
        padding: 40px;
          
    }
.articulos__item:first-of-type {
    border-left: 1px solid grey;
}


.back-banner {
    background-color: gainsboro;
    display: grid;
    border-top: 2px  solid rgba(255, 255, 255, .5);
    
}



    .saludo {
        background-color: rgb(203, 211, 211);
        margin: 0;
        letter-spacing: 3px;
        text-transform: uppercase;
        
    }
    .titulo {
        display: flex;
        justify-content: center;
        font-size: 30px;
        background-color: rgba(151, 134, 135, 0.1);
        border-bottom: 5px rgba solid (255, 255, 255, .5);
        padding-top: 30px;
        
        
               
    }

    .titulo__item {
        display: flex;
        justify-content: center;
        font-size: 20px;
        background-color: rgba(151, 134, 135, 0.1);
        padding: 30px;
        border-bottom: 5px rgba solid (255, 255, 255, .5);
    }

    
    .interior {
    background: url(../img/interior.png)
    background-position: center;
    width: 100%

    }

.footer {
    display: flex;
    justify-content: space-between;
    border: solid;
    align-items: center;
    background-color: black
       
    
}
    
.footer .horarios {
    display: flex
    flex-direction: column
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 50
     

}
.horarios__items {
    color: white;
}

    



.contactanos {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
   
    
    
}
    .contactanos__items {
        display: flex;
         flex-direction: column;
         text-transform: uppercase;
         justify-content: center;
         margin: 50px;
         
         
    }
    

    .formulario {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 10px;
        align-items: baseline;
        margin: 10px;
        gap: 20px;

    }

    @media all and (max-width:1140px) {
        .medio {
            width: auto;
            justify-content:center;

        }
        
        .articulos {
            flex-direction: column;
            height: auto;
       


        }
         .articulo__img {
            width: auto;

         }

        
    }

@media all and (max-width: 700px) {
    .img-fluidmax-width: 100%; height: auto;
    .navbar {
   flex-direction: column;
   height: auto;
   }
   .medio {
    flex-direction: column;
    height: auto;
    justify-content: auto;
   }

   p {
    font-size: 20px;
   }
   .articulos {
    flex-direction: column;
    height: auto;
   }
   .articulo__img {
    width: auto
   }
   .articulos__item {
    width: auto
   }

   .footer {
    flex-direction: column;
    height: auto;
   }
   
}

@media all and (max-width: 475px) {
    .img-fluidmax-width: 100%; height: auto;
    .navbar {    
    flex-direction: column;
    height: auto;
    margin: 0px;
    display: block;
    }

    .medio {
        flex-direction: column;
        height: auto;
        justify-content: auto;
       }
       p {
        font-size: 20px;
        
        }
        
       .articulos {
        flex-direction: column;
        height: auto;
       }
       .articulo__img { 
        width: auto;
       }
       .footer {
        flex-direction: column;
        height: auto;
       }

}

@media all and (max-width: 400px) {
    .navbar {
    flex-direction: column;
    height: auto;
    
    }
    .medio {
        flex-direction: column;
        height: auto;
        justify-content: auto;
       }
       .articulos {
        flex-direction: column;
        height: auto;
       }
       p {
        font-size: 20px;
       }
       .footer {
        flex-direction: column;
        height: auto;
       }
}
    