* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

.contain {
    max-width: 1200px;
    margin: 0 auto;


}

/* hEADER INDEX - A COFFE  */


.header {
    background: url(../img/imgPrincipal.png);
    background-attachment: fixed;
    
    border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
   
.back-navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   }
    .navbar {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap; 
        top: 0;
        height: 150px;
        align-items: center;
        width: 100%;
        position: relative;
        
    }
        
        
        .logo {
            padding: 0;
            align-items: center;
            transition: transform 1s;
            margin: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            text-transform: uppercase; 
            
        }
            
            .logo:hover {
                transform: scale(1.1);
            }
            
            .logo a {
                text-decoration: none;
                color: white;
                font-size: 30px;
                font-family: cursive;
            }
                

        .menu {
            display: flex;
            font-size: 15px;
            justify-content: space-between;
            padding: 0 20px;
            align-items: center;
            margin: 50px;
            text-decoration: none;
            list-style: none;
        }
            .menu__items {
                text-decoration: none;
                color: white;
                font-size: 15px;
                padding: 0 20px;
                height: 10px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

                .menu__items:hover{
                    color: darkgrey;

                }
        
    .medio :hover {
        color: rgb(96, 161, 161) 
    }
     

    .central {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: darkgrey;
        padding: 10px;
        height: 700px;
        font-size: 30px;
        justify-content:space-evenly;
    }
 
        .central__item {
            padding: 50px;
            align-items: flex-start;
            text-transform: uppercase;
            
        }
        




/* HEADER 2 */
/* CONOCENOS */
/* MENU */
/* CONTACTANOS */
/* LLEVALO */

.header2 {
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

    
    

.back-banner {
    background-color: gainsboro;
    
}

.banner {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0px;
    background-color: gainsboro;
    position: relative;
    justify-content: end;
    
}

    .banner__img {
    
        width: 100%;
        padding: 30px 0px;
        margin: 20px auto;
        
    }

    .banner__item {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
        padding: 60px 30px;
        gap: 10px;
        background-color:  rgba(87, 78, 78, 0.527);
        position: absolute;
        width: 40%;
        height: 70%;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
       
          
    }

    .letter__banner {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
        color: rgb(70, 27, 27);
        text-transform: uppercase;
    }
    
.local {
    display: grid;
    display: block;
    flex-direction: column;
    justify-content: center;
} 

.img__contactanos {
    width: auto;
}
    .local__items {
        text-align: center;
        flex-direction: column;
        padding: 50px;
        background-color: rgb(179, 190, 190);
    }

        .local__items__items1 {
            font-family:'Times New Roman', Times, serif;
            color: rgb(88, 85, 86);
            font-size: 30px;
            padding: 25px;
            text-transform: uppercase;
            
        }
        .local__items__items2 {
            padding-bottom: 50px;
            font-size: 40px;
            color: rgb(116, 66, 66);
        }
    
    
.ubicacion {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

    .ubicacion__items {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(58, 56, 56);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

        .ubicacion__items__horarios {
            display: flex;
            flex-direction: column;
            color: rgb(100, 103, 109);
        }


        /* FOOTER */

        .footer {
            display: flex;
            justify-content: space-between;
            border: solid;
            align-items: center;
            background: url(../img/footer2.jpg) #000;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
        }
            .back-footer {
                background-color: black;
                display: flex;
                justify-content: space-between;
               align-items: center;
               
                
            }

            .footer__items {
                display: flex;
                color: white;
                font-size: 20px;
            }
            
               
            
        
/* CONOCENOS */


 .titulo {
     display: flex;
     justify-content: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 50px;
     height: 300px;
     
     padding-top: 50px;
     color:ghostwhite;
     text-transform: uppercase;
     letter-spacing: 3px;
     line-height: 1.5px;
 }

 .back-conocenos {
    background: url(../img/fondocemento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   border-bottom: #000;
    padding: 20px;
 }


.conocenos__parrafo {
    display: flex
    
}

.figure__local {
    display: flex;
    align-items: center;
    padding: 20px;
}

.parrafo__item {
   position: relative;
   width: 50%;
   height: auto;
   
}
.articulo__parrafo {
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute;    
    height: auto;
    width: 100%;
    top: 51px;
    left: -108px;  

}

.parrafo__item__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgba(87, 78, 78, 0.527);
    padding: 50px;
    color: #fff;
    width: 100%;
    gap: 10px;
    
}

.galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 60px);
    gap: 10px;
    overflow:hidden;
   
    
    
    

}

.figure {
    border: 1px solid #000;
}
    
.image1 {
   grid-column: 1 / 8;
   grid-row: 1 / 6;
}
.image2 {
    grid-column: 1 / 4;
    grid-row: 6 / 13;
    
}

.image3 {

    grid-column: 4 / 8;
    grid-row: 6 / 9;
}

.image4 {
    grid-column: 4 / 6;
    grid-row: 9 / 13;

}

.image5 {
    grid-column: 6 / 8;
    grid-row: 9 / 13;
}

.image6 {
    grid-column: 8 / 10;
    grid-row: 1 /3;
}

.image7 {
    grid-column: 8 / 10;
    grid-row: 3 / 5;
}

.image8 {
    grid-column: 8 / 10;
    grid-row: 5 / 8;
}

.image9 {
    grid-column: 8 / 10;
    grid-row: 8 / 10;
    
}

.image10 {
    grid-column: 8 / 10;
    grid-row: 10 / 13;
    
}

.image11 {
    grid-column: 10 / 13;
    grid-row: 1 / 6;
}

.image12 {

   grid-column: 10 / 13;
   grid-row: 6 / 13;
}


/* MENU */

.back-menu {
    background: url(../img/fondocemento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: #000;
    padding-bottom: 20px;
    
}

.menuprincipal {
display: block;
flex-direction: column;
align-items: start;
gap: 10px;
padding-top: 2rem;
padding-bottom: 2rem;
font-family:'Times New Roman', Times, serif;
color: rgb(231, 224, 224);

border-top: 1px solid #fff;


}


.menu__principal__item-1 {
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 10px;
    font-size: 2em
}
.menu__principal__item-c {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 1.2em;
    
}

.grilla__menu {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   background-color: rgba(47, 79, 79, 0.301);
   padding: 10px;
    
  
}


.item__grilla {
   
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1em;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 2rem auto;
   
  
   

}



.grilla__menu__jugos {
   display: flex;
   justify-content: space-evenly;
   gap: 1px;
   background-color:  rgba(47, 79, 79, 0.301);
   margin-bottom: 200px;
}


.menu__principal__item-f {
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 10px;
    border-top: 1px solid #fff ;
    border-bottom: 1px solid #fff;
    font-size: 1.2em;
    margin-top: 2rem;
    grid-row: 3 / 3;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(231, 224, 224);
    margin-bottom: 2rem;

}

    
.grilla__menu__s {
    display: flex;
    justify-content: space-between;
    background-color: rgba(47, 79, 79, 0.301);
    gap: 10px;
    padding: 10px;
    margin: 0px auto;
    
    
    
    
    
}

/* LLEVALO */

.back-llevalo {
    background: url(../img/fondocemento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: #000;
    padding-bottom: 20px;
    
}

.llevalo {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-image: url(../img/fondocemento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.llevalo h2 {
    background-color: gray;
    font-size: 30px;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(58, 56, 56);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.llevalo p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1px;
    color: rgb(58, 56, 56);
    background-color: gray;
    
}

.img__pallev1 {
    width: 100%;
    
}

.img__pallev2 {
    display: flex; 
}

/* CONTACTANOS */

.back-contactanos {
    background-color: gainsboro ;
    
   
}
.contactanos {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr;
    justify-content: center;
    background: url(../img/fondocemento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contactanos__articulos {
    gap: 10px;
    
    

}
.contactanos1 {
    display: flex;
    flex-direction: column;
    margin: 65px auto;
    padding: 73px;
    background-color: cornsilk;
    
      
  } 

  .contactanos__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    color: rgba(58, 56, 56, 0.863);
    text-transform: uppercase;
    border-bottom: 1px solid rgb(134, 131, 131);

  }

  .contactanos__items__horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    color: rgb(100, 103, 109);

    
  }

  .formulario {
    display: flex;
    flex-direction: column;
    margin: 65px auto;
    padding: 83px;
    background-color: rgb(236, 170, 93);
       
  }


  .formulario__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    height: 800px;
    
  }

  .form__campos {
    width: 100%;
    background-color: rgb(236, 170, 93);
    padding: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }

  .botons {
    width: 50%;
    border: none;
    display: inline-block;
    padding: 20px;
    margin: 16px 0;
    color: whitesmoke; 
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(87, 85, 85);
  }

  .botons:hover {
    background-color: darkgrey;
  }
   
  .btn-gray {
    color: white;
    background-color: gray;
  }


  

  @media screen and (max-width: 1400px) {

    /* INDEX */

    .logo a {
        font-size: 20px;
    }
    .menu {
        flex-direction: row;
    }
  
    /* LLEVALO */

    .img__pallev2 {
        flex-direction: row;
    }
    

    /* CONTACTANOS */

    .contactanos__articulos {
        display: grid;
        grid-template-columns: 500px 500px;
        gap: 10px;
    }

    }

    @media screen and (max-width: 992px) {

        /* INDEX */

        .navbar {
            flex-direction: column;
            align-items: center;
            height: auto;
            margin: 0;

        }

        .logo a { 
            font-size: 20px;
        }   

        .menu {
            flex-direction: row;
        }

        .medio {
            width: auto;
            justify-content:center;

        }
        
        .central {
            padding: 50px;
        }


        .banner__item {
            font-size: 14px;
            width: 31%;
            height: auto;
            padding: 5px 10px;
        }


    /* CONOCENOS */

    
    
    .parrafo__item {

        position: inherit;
        width: 100%;
        height: auto;
    }
    .articulo__parrafo {
        width: auto;
        padding-bottom: 20px;
        position: inherit;

    }

    .conocenos__parrafo {
        flex-direction: column;
    }

         .img__contactanos {
            width: 100%;
         }
        
    }

    /* MENU */

    .grilla__menu {
        flex-flow: column;
        width: 70%;
        margin: 0 130px;
    }

    
    .grilla__menu__jugos {
        flex-direction: column;
        width: 70%;
        margin: 0 0 20px 130px;
    }


    .grilla__menu__s {
        flex-direction: column;
        width: 70%;
        margin: 0 130px;
    }



    /* LLEVALO */

    .img__pallev2 {
        flex-direction: column;
    }


    /* CONTACTANOS */

    .contactanos__articulos {
        display: grid;
        grid-template-columns: 400px 400px;
        gap: 10px;
    }

    @media screen and (max-width: 768px) {
      /* INDEX */
      .header {
        padding: 10px;
      }
      .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0px;
    }
        .logo {
            margin: 10px;
            
        }
        .logo a { 
            font-size: 20px;
        }   
        
    
    

    .menu {
        flex-direction: column;
        font-size: 16px;
        width: auto;
        gap: 10px;
    }

    
    .medio {
        flex-direction: column;
        height: auto;
        justify-content: auto;
       }

    .titulo {
        font-size: 40px;
    }

    .central {
        padding: 10px;
     
    }

   
    .central p {
        padding: 10px;
        
    }

    .menu__principal__item-1 {
        padding-left: 20px;
    }

    .menu__principal__item-c {
        padding-left: 20px;
    }

    .grilla__menu {
        flex-flow: column;
        width: 70%;
        margin: 0 130px;

    }

    .grilla__menu__jugos {
        flex-direction: column;
        width: 70%;
        margin: 0 0 20px 130px;
    }

    .item__grilla p {
        width: 50%;
    }

    .menu__principal__item-f {
        padding-left: 20px;
    }

    .grilla__menu__s {
        flex-direction: column;
        width: 70%;
        margin: 0 130px;
    }

    .banner {
        flex-direction: column;
        position: inherit;
        gap: 5px;
    }
    .banner__img {
        padding: 10px;
        margin: auto;
        

    }

    .banner__item {
        font-size: 15px;
        padding: 15px;
        width: auto;
        height: auto;
        margin: auto;
        position: inherit;
    }


    /* CONTACTANOS */
    .articulo__parrafo {
        width: auto;
    }

    .img__contactanos {
        width: 100%;
    }

    .contactanos__articulos {
        
        display: flex;
        flex-direction: column;
        

    }

    .contactanos1 {
        margin: 40px auto;
        padding: 40px;
    }
    
    
    .conocenos__parrafo {
        flex-direction: column;
    }

    .parrafo__item {
        position: inherit;
        width: 100%;
        height: auto;
    }
    .articulo__parrafo {
        width: auto;
        padding-bottom: 20px;
        position: inherit;
    }


       
 .formulario {
    margin: 40px;
    padding: 50px;
}



    /* FOOTER */

    .footer {
        height: 250px;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 576px) {
    /* INDEX */
    .header {
        padding: 10px;
    }
    .navbar {    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px;
    
    }
    
    .logo a {
        font-size: 16px;
    }
    .menu {
        flex-direction: column;
        font-size: 35px;
    }

   
    .medio {
        flex-direction: column;
        height: auto;
        justify-content: auto;
       }

       .medio p {
        font-size: 30px;
        
        }

        .central p {
            padding: 10px;
        }
        
        /* CONTACTANOS */

       .contactanos__articulos {
        display: flex;
        flex-direction: column;
       }
       .articulo__img { 
        width: auto;
       }

       .banner {
        gap: 5px;
       }
       .banner__img {
        width: 100%;
        padding: 10px;
       }
       .img__contactanos {
        width: 100%;
        padding: 0;
        
       }

       .contactanos1 {
        margin: 40px auto;
        padding: 40px;
    }

    .formulario {
        margin: 40px;
        padding: 50px;
    }

       .titulo {
        font-size: 30px;
       }

     

       /* FOOTER */

       .footer {
        flex-direction: column-reverse;
        width: 100%;
        height: 250px;
        background-size: cover;

       }

       .footer__items {
        font-size: 16px;
       }
       

}

@media screen and (max-width: 400px) {
   /* INDEX */
   
    .navbar {
    flex-direction: column;
    height: auto;
    
    }
    
    .logo a {
        font-size: 15px;
    }

    .central {
        padding: 1px;
    }

    .central p {
        padding: 30px;
    }
    .medio {
        flex-direction: column;
        height: auto;
        justify-content: auto;
       }
     
       p {
        font-size: 20px;
       }

       .banner {
        gap: 5px;
       }

       .banner__img {
        padding: 0px 20px;
       }

       .banner__item p {
        font-size: 16px;
       }

       /* CONTACTANOS */

       
       .contactanos__articulos {
        display: flex;
        flex-direction: column;
       }
       .articulo__img { 
        width: auto;
       }

    
    .img__contactanos {
     width: 100%;
     padding: 0;
     
    }

    .contactanos1 {
     margin: 40px;
     padding: 40px;
 }

 .formulario {
     margin: 40px;
     padding: 50px;
 }

    .titulo {
     font-size: 25px;
    }


    /* FOOTER */
       .footer {
        flex-direction: column-reverse;
        width: 100%;
        height: 250px;
        background-size: cover;

       }

       .footer__items {
        font-size: 16px;
       }
}
    