/* MISC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-image: url(../img/imgPrincipal.png);
  background-attachment: fixed;
  display: grid; }

navbar {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  top: 0;
  height: 150px;
  align-items: center;
  width: 100%;
  position: relative; }

.contain {
  max-width: 1200px;
  margin: 0 auto; }

body {
  display: block;
  margin: 8px; }

figure {
  margin: revert; }

/* PARTIALS */
.header {
  background: url(../img/imgPrincipal.png);
  background-attachment: fixed;
  display: grid;
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header .navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    top: 0;
    height: 150px;
    align-items: center;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .header .navbar .logo {
      padding: 0;
      align-items: center;
      transition: transform 1s;
      margin: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      text-transform: uppercase; }
      .header .navbar .logo:hover {
        transform: scale(1.1); }
        .header .navbar .logo:hover .logo a {
          text-decoration: none;
          color: white;
          font-size: 30px;
          font-family: cursive; }
    .header .navbar .menu {
      display: flex;
      font-size: 15px;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      margin: 50px;
      text-decoration: none;
      list-style: none; }
      .header .navbar .menu__items {
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 0 20px;
        height: 10px;
        text-transform: uppercase;
        letter-spacing: 2px; }
        .header .navbar .menu__items:hover {
          color: darkgrey; }
  .header .central {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkgrey;
    padding: 10px;
    height: 700px;
    font-size: 30px;
    justify-content: space-evenly; }
    .header .central__item {
      padding: 50px;
      align-items: flex-start;
      text-transform: uppercase; }
    .header .central:hover {
      color: #60a1a1; }

.header2 {
  background: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header2 .navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    top: 0;
    height: 150px;
    align-items: center;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .header2 .navbar .logo {
      padding: 0;
      align-items: center;
      transition: transform 1s;
      margin: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      text-transform: uppercase; }
      .header2 .navbar .logo:hover {
        transform: scale(1.1); }
        .header2 .navbar .logo:hover .logo a {
          text-decoration: none;
          color: white;
          font-size: 30px;
          font-family: cursive; }
    .header2 .navbar .menu {
      display: flex;
      font-size: 15px;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      margin: 50px;
      text-decoration: none;
      list-style: none; }
      .header2 .navbar .menu__items {
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 0 20px;
        height: 10px;
        text-transform: uppercase;
        letter-spacing: 2px; }
        .header2 .navbar .menu__items:hover {
          color: darkgrey; }
  .header2 .central {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkgrey;
    padding: 10px;
    height: 700px;
    font-size: 30px;
    justify-content: space-evenly; }
    .header2 .central__item {
      padding: 50px;
      align-items: flex-start;
      text-transform: uppercase; }
    .header2 .central:hover {
      color: #60a1a1; }

.footer {
  display: flex;
  justify-content: space-between;
  border: solid;
  align-items: center;
  background: url(../img/footer2.jpg) #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px; }
  .footer .back-footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer .footer__items {
    display: flex;
    color: white; }

.back-banner {
  background-color: gainsboro; }

.banner {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 30px;
  background-color: gainsboro; }
  .banner .banner__img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px; }
  .banner .banner__item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 30px; }

.local {
  display: grid;
  display: block;
  flex-direction: column;
  justify-content: center; }
  .local .local__items {
    text-align: center;
    flex-direction: column;
    padding: 50px;
    background-color: #b3bebe; }
    .local .local__items .local__items__items1 {
      font-family: 'Times New Roman', Times, serif;
      color: #585556;
      font-size: 30px;
      padding: 25px;
      text-transform: uppercase; }
    .local .local__items .local__items__items2 {
      padding-bottom: 50px;
      font-size: 40px;
      color: #744242; }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 20px; }
  .ubicacion .ubicacion__items {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3838;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .ubicacion .ubicacion__items .ubicacion__items__horarios {
      display: flex;
      flex-direction: column;
      color: #64676d; }

.back-conocenos {
  background-color: gainsboro;
  border-bottom: #000; }

.titulo {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  height: 300px;
  border-bottom: 5px rgba solid 255, 255, 255, 0.5;
  padding-top: 50px;
  color: ghostwhite;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5px; }

.conocenos__parrafo {
  display: flex; }

.figure__local {
  display: flex;
  align-items: center;
  padding: 20px; }

.parrafo__item {
  position: relative;
  width: 50%;
  height: auto; }

.articulo__parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: auto;
  width: 100%;
  top: 51px;
  left: -108px; }

.back-figure {
  background-color: rgba(105, 105, 105, 0.521);
  border-bottom: 30px solid gainsboro; }

.parrafo__item__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(87, 78, 78, 0.527);
  padding: 50px;
  color: #fff;
  width: 100%; }

.parrafo__figure {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between; }

.parrafo__figure__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: space-between;
  padding: 10px; }

.parrafo__figure2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: space-around; }

.back-contactanos {
  background-color: gainsboro; }

.contactanos {
  display: flex;
  flex-direction: column; }

.formulario {
  display: flex;
  flex-direction: column; }

.back-banner {
  background-color: gainsboro; }

.banner {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 30px;
  background-color: gainsboro; }
  .banner .banner__img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px; }
  .banner .banner__item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 30px; }

.local {
  display: grid;
  display: block;
  flex-direction: column;
  justify-content: center; }
  .local .local__items {
    text-align: center;
    flex-direction: column;
    padding: 50px;
    background-color: #b3bebe; }
    .local .local__items .local__items__items1 {
      font-family: 'Times New Roman', Times, serif;
      color: #585556;
      font-size: 30px;
      padding: 25px;
      text-transform: uppercase; }
    .local .local__items .local__items__items2 {
      padding-bottom: 50px;
      font-size: 40px;
      color: #744242; }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 20px; }
  .ubicacion .ubicacion__items {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3838;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .ubicacion .ubicacion__items .ubicacion__items__horarios {
      display: flex;
      flex-direction: column;
      color: #64676d; }
