* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/imgPrincipal.png);
    background-attachment: fixed;
    display: grid;
    border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    top: 0;
    height: 150px;
    align-items: center;
    width: auto;
    position: relative;
}
    


.contain {
    max-width: 1200px;
    margin: 0 auto;

}


body {
    display: block;
    margin: auto;
}

figure {
    margin: revert;
    
}

.back-central {
    
}
