.footer {
    display: flex;
    justify-content: space-between;
    border: solid;
    align-items: center;
    background: url(../img/footer2.jpg) #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .back-footer {
        background-color: black;
        display: flex;
        justify-content: space-between
        aling-items:center    
        
    }
    
       
    
}
    

